<div *ngIf="member">

  <h3>Редактирование {{member.name}}</h3>
  <div><span>id: </span>{{member.id}}</div>
  <div>
    <label>Новое имя:
      <input type="text" [(ngModel)]="member.name"
             required minlength="2" maxlength="30"
             pattern="([А-ЯЁа-яёA-Za-z]+(([-])|(\.)|(\s)|(\.\s))?)+"
             appUniqueName #name="ngModel">
    </label>
  </div>
  <div *ngIf="!isTheSameName(member.name) &&
        name.invalid && (name.dirty || name.touched)" class="error-message">
    <div *ngIf="name.errors.required">
      Нужно ввести имя.
    </div>
    <div *ngIf="name.errors.minlength">
      Имя должно содержть 2-30 символов.
    </div>
    <div *ngIf="name.errors.pattern && !name.errors.minlength">
      Недопустимый символ.
    </div>
    <div *ngIf="name.pending">
      Проверка...
    </div>
    <div *ngIf="name.errors?.uniqueName">
        Это имя уже занято, введите другое.
    </div>
  </div>
  <button (click)="goBack()">Отмена</button>
  <button (click)="save()" [disabled]="!isTheSameName(member.name) && !name.valid">ОК</button>
</div>


