<h3>Члены семьи:</h3>
<h4 id="addMemberHeader">Добавить нового члена семьи:</h4>
<div>
  <label id="nameLabel">Имя:
    <input id="nameInput" type="text" [(ngModel)]="memberName"
           required minlength="2" maxlength="30"
           pattern="([А-ЯЁа-яёA-Za-z]+(([-])|(\.)|(\s)|(\.\s))?)+"
           appUniqueName #name="ngModel"/>
  </label>
  <button id="addButton" (click)="add(name.value)" [disabled]="!name.valid">Добавить</button>
  <div *ngIf="name.invalid && (name.dirty || name.touched)" class="error-message">
    <label id="nameReqErr" *ngIf="name.errors.required">
      Нужно ввести имя.
    </label>
    <label id="nameLenErr" *ngIf="name.errors.minlength">
      Имя должно содержть 2-30 символов.
    </label>
    <label id="nameFormatErr" *ngIf="name.errors.pattern">
      Недопустимый символ.
    </label>
    <label *ngIf="name.pending">
      Проверка...
    </label>
    <label id="nameExistErr" *ngIf="name.errors?.uniqueName">
      Имя уже занято, введите другое.
    </label>
  </div>
</div>
<h4 id="listHeader">Перечень всех членов семьи:</h4>
<ul class="members">
  <li *ngFor="let member of members">
    <a routerLink="/members/{{member.id}}">
      <span class="badge">{{member.id}}</span> {{member.name}}
    </a>
    <button class="delete" title="Удалить" (click)="delete(member)">x</button>
  </li>
</ul>

